<H1> This is the Tables Page </H1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>Name</p>
    <p>Age</p>
    <p>Address</p>
  </div>

  <!-- Table -->
  <table class="table">
    ...
   
  </table>
</div>